* {
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
    text-decoration: none;
}
span {
  font-size: 24px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 33px;
  padding-left: 12px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('./bg.png') 50% no-repeat;
  background-size: cover;
  overflow: hidden;
}
.logo {
  margin-top: 182px;
  width: 500px;
  height: 140px;
  position: relative;
  color: #fff;
}
.logo h1{
    position: absolute;
    left: 170px;
    top:3px;
    z-index: 99;
    font-size: 54px;
    
}
.logo h3{
    position: absolute;
    left: 170px;
    top:90px;
    z-index: 99;
    font-size: 30px;
    font-weight: normal;
    
}
.text {
  width: 511px;
  margin-top: 89px;
  color:#fff;
  font-size: 18px;
  line-height: 30px;
}
.buttons {
  margin-top: 172px;
  width: 662px;
  display: flex;
  text-align: center;
}
.play-button {
  width: 286px;
  height: 68px;
  background-image: linear-gradient(to right,#12D4E2, #10B3CB);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.button-logo {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}
.download-button {
  width: 286px;
  height: 68px;
  background-image: linear-gradient(to right,#5E82F0, #3852D9);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 auto 0 auto;
}
.phones {
  margin-top: 197px;
  width: 1110px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.min-phone {
  width: 239px;
  height: 423px;
}
.max-phone {
  width: 298px;
  height: 529px;
}
.footer {
  margin: 128px 0 32px;
  text-align: center;
  height: 33px;
  font-size: 24px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 33px;
}

@media screen and (max-width: 650px){
  img {
    width: 100%;
  }
  span {
    font-size: 0.8rem;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 5vh;
    padding-left: 1vw;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('./bg.png') 50% no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  .logo {
    margin-top: 5vh;
    width: 80vw;
    height: 14vh;
    
  }
  .logo h1{
      top:1vh;
      left:30vw;
      font-size: 1.8rem;
      font-weight: bold;
  }
    .logo h3{
      top:7vh;
      left:30vw;
      font-size: 1rem;
      font-weight: normal;
  }
  .text {
    width: 80vw;
    margin-top: 5vh;
  }
  .buttons {
    margin-top: 6vh;
    width: 90vw;
    display: flex;
    justify-content: space-between;
  }
  .play-button {
    width: 40vw;
    height: 5vh;
    background-image: linear-gradient(to right,#12D4E2, #10B3CB);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button-logo {
    width: 5vw;
    height: 3vh;
    vertical-align: middle;
  }
  .download-button {
    width: 40vw;
    height: 5vh;
    background-image: linear-gradient(to right,#5E82F0, #3852D9);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .phones {
    margin-top: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .min-phone {
    width: 26vw;
    height: 24vh;
  }
  .max-phone {
    width: 32vw;
    height: 32vh;
  }
  .footer {
    margin: 5vh 0 2vh;
    text-align: center;
    font-size: 0.6rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
  }
}
